NEXT_PUBLIC_GENLAYER_RPC_URL=https://rpc-bradbury.genlayer.com
NEXT_PUBLIC_FACTCHECKER_CONTRACT=0x6a620f3a17334BC1Ab25e31C4C60318f148e800f
NEXT_PUBLIC_GENLAYER_EXPLORER=https://explorer-bradbury.genlayer.com/
